useDynLib(VectorForgeML, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(methods, is)
importFrom(methods, new)
importFrom(methods, setRefClass)
importFrom(grDevices, colorRampPalette)
importFrom(graphics, abline)
importFrom(graphics, axis)
importFrom(graphics, image)
importFrom(graphics, par)
importFrom(graphics, text)
export(LinearRegression)
export(StandardScaler)
export(MinMaxScaler)
export(LabelEncoder)
export(OneHotEncoder)
export(fit_linear_model)
export(predict_linear_model)
export(drop_constant_columns)
export(train_test_split)
export(mse)
export(rmse)
export(r2_score)
export(Pipeline)
export(ColumnTransformer)

export(LogisticRegression)
export(accuracy_score)
export(precision_score)
export(recall_score)
export(f1_score)
export(macro_precision)
export(macro_recall)
export(macro_f1)
export(SoftmaxRegression)

export(confusion_matrix)
export(confusion_stats)
export(plot_confusion_matrix)
export(RidgeRegression)
export(KNN)
export(find_best_k)
export(PCA)
export(DecisionTree)
export(RandomForest)
export(KMeans)